.parent{
    background-color: #E9A5F0;
    height: 400px;
    width: 400px;
}
.child{
    background-color: #E93C21;
    height: 50%;
    width: 50%;

}
.parent:hover{
    background-color: #e93c21;
    animation-name: example;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}
@keyframes example{
   100%{
       transform: translateX(100%);
   }
}